
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
	background-color: #8ed1fc;
}

.container {
    height: 400px;
    position: relative;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#landingPage {
    display: none;
}

#gamePage {
    display: block;
}

.board {
    margin-left: 70px;
    margin-right: 70px;
    border: 8px solid #123c58;
    background-color: #b4c0c7;
    border-radius: 10px;
    float: left;
}

td {
    border: 2px solid;
    position: relative;
}

tr {
    height: 75px;
}

table {
    table-layout: fixed;
    width: 40%;
}

#ship {
    border: 2px solid #00f;
    background: rgba(0,0,255,.05);
    position: absolute;
    width: 75px;
    height: 75px;
    padding-bottom: 0px; 
    left: 0px; 
    top: 0px; 
    margin: -2px;
    z-index: 9;
    cursor: grab;
}

.active{
    cursor: move;
    user-select: none;
  }